@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
  height: 100dvh;
}

#root {
  height: 100%;
}

.header {
  background-color: #000000;
  display: flex;
  align-items: center;
  padding: 20px 32px;
  justify-content: space-between;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.upload-box {
  width: 90%;
  height: 30rem;
  border: 2px dashed lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
}

.upload-box.drag-active {
  border-color: blue;
}

.upload-content {
  text-align: center;
  color: gray;
}

.upload-content i {
  font-size: 48px;
  margin-bottom: 10px;
}

.next-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.next-button:hover {
  background-color: darkgray;
}

.page-header {
  font-weight: bold;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30px;
}

.page-subheader {
  font-weight: bold;
  margin-left: 45px;
  margin-top: 50px;
  font-size: 20px;
}

.input-box {
  border: 2px solid lightgray;
  height: 30px;
  width: 250px;
  margin-left: 50px;
  margin-top: 5px;
}

.applications-text {
  margin-left: 50px;
  margin-top: 10px;
  font-size: 20px;
}

.reviewers-text {
  font-size: 20px;
}

.minus-button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  align-items: center;
  background-color: lightgray;
  border: black;
  border-radius: 3px;
  margin-left: 50px;
  margin-right: 10px;
}

.plus-button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  align-items: center;
  background-color: lightgray;
  border: black;
  border-radius: 3px;
  margin-left: 10px;
}

.reviewers-container {
  display: flex;
  margin-top: 10px;
}

.applications-per-reader-text {
  margin-left: 50px;
  margin-top: 5px;
  color: gray;
}

.table-style {
  margin-left: 50px;
  margin-top: 30px;
}
